@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body{
  background-color: rgba(249, 253, 253, 0.716);
}

.degree{
  /* background: linear-gradient(171deg, white 40%, black 40%, black 60%, white 60%,); */
     /* background: linear-gradient(175deg, red 20%,green 20%,red 20%,orange 20%, blue 20%); */
     /* background: linear-gradient(175deg, white 10% 0%, black 10% 25%, black  10% 50%, black 10% 75%,  white 10% 10%); */
       background: linear-gradient(175deg, white 10% 5%,  black 10% 93%,  white 5% 5%);

    }